

.cart-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.cart-item img {
  max-width: 100px;
  height: auto;
  margin-right: 20px;
  border-radius: 4px;
}

.product-info {
  flex-grow: 1;
}

.product-info h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: #333;
}

.product-info p {
  margin: 5px 0;
  font-size: 1em;
  color: #666;
}

.cart-summary {
  text-align: right;
  margin-top: 20px;
}

.cart-summary h3 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: #333;
}

.cart-summary p {
  font-size: 1em;
  color: #666;
}


h1 {
  font-size: 2em;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

h3 {
  font-size: 1.5em;
  color: #333;
  text-align: right;
  margin-top: 10px;
}

.Button {
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 4px;
    cursor: pointer;
    text-decoration: none;
  }
