.finalizar {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-title {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


h1, p {
    text-align: center;
    margin-right: 15px;
}

.gracias {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.gracias p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
    margin: 15px 0;
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}