:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
}

body {
    background-color: #f8f9fa;
  }
  
/*   .navbar-brand {
    display: flex;
    align-items: center;
  } */
  
  .navbar-brand img {
    margin-right: 8px;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
